<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <title>XtraVision</title>

</head>
<body>
>

    <img class="logo" src="../images/xtra-vision_logo.jpg" alt="xtra-vision logo">



    <div class="container">
        <h1 class="question">Are you a first time user?</h1>
        <div class="row align-items-start">

            <div class="col rentActionButtons">

                <a href="rent" id="true" type="button" class="btn btn-success" onclick="setUsersVisitation('true')"> Yes</a>
                <a id ="false" type="button" class="btn btn-danger " onclick="setUsersVisitation('false')">No</a>
            </div>
        </div>
    </div>
<script src="../js/home.js"></script>
</body>
</html>