<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <title>XtraVision</title>

</head>
<body>

    <h1 th:text="${welcomeMessage}"></h1>
    <a href="www.xtravision.com">Official site</a>

    <button class="front-buttons">
        <a href="rent">TOUCH TO RENT</a><br>
        <a href="x">TOUCH TO RETURN</a>
    </button>

<script src="../js/rent.js"></script>
</body>
</html>